<div *ngIf="product" class="container mt-5">
  <div class="row mt-5" style="min-height: 70vh;">
    <div class="col-md-6 px-4 d-flex justify-content-center align-items-center">
      <img [src]="product.imageUrl" class="img-fluid" style="max-height: 100%; width: auto;" alt="{{product.name}}">
    </div>

    <div class="col-md-6">
      <h2>{{product.name}}</h2>
      <p>{{product.description}}</p>
      <p *ngIf="product.productDetails" class="text-muted">{{product.productDetails}}</p>
      <h4>${{product.price}}</h4>
      <p><strong>Category:</strong> {{product.category}}</p>
      <p><strong>Brand:</strong> {{product.brand}}</p>
      <p *ngIf="product.rating"><strong>Rating:</strong> {{product.rating}}/5</p>

      <ul *ngIf="product.specifications">
        <li *ngFor="let spec of product.specifications">
          {{spec}}
        </li>
      </ul>
      <button class="btn btn-success me-2" (click)="addToCart(product!)">Add to Cart</button>
      <button class="btn btn-outline-danger" (click)="addToWishlist(product!)">Add to Wishlist</button>
      <div *ngIf="showAddedCart" class="alert alert-success position-fixed top-0 end-0 m-4" style="z-index: 1050;">
        Item added to cart!
      </div>
      <div *ngIf="showAddedWishlist" class="alert alert-primary position-fixed top-0 end-0 m-4" style="z-index: 1050;">
        Item added to wishlist!
      </div>